name: BuildTestDeploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Checkout submodules
      run: git submodule update --init --recursive
    
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get install -y python3 python3-dev ninja-build

    - name: Configure CMake
      run: cmake --preset ci-linux -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install

    - name: Build
      run: cmake --build --preset ci-linux

    - name: Install
      run: cmake --install build/ci-linux
      
    - name: Test
      working-directory: ${{github.workspace}}/install
      run: share/namigator/test/smoke_tests.py

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: namigator_linux
        path: ${{github.workspace}}/install/
        retention-days: 5

  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Checkout submodules
      run: git submodule update --init --recursive
    
    - name: Install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        architecture: 'x64'

    - name: Configure CMake
      run: cmake --preset ci-windows -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install

    - name: Build
      run: cmake --build --preset ci-windows

    - name: Install
      run: cmake --install build/ci-windows
      
    - name: Test
      working-directory: ${{github.workspace}}/install
      run: python share/namigator/test/smoke_tests.py
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: namigator_windows
        path: ${{github.workspace}}/install/
        retention-days: 5
